<div id="albumdata" class="hide"
     data-uid="{$userinfo.uid}"
     data-albumid="{$albuminfo.albumid}">
</div>

<a href="user?uid={$userinfo.uid}">{$userinfo.nickname}<img src="{$userinfo.logo16}"></a> 的相册
{if $logininfo.uid == $userinfo.uid && !$albuminfo.isrecycle}
<span id="txtAlbumtitle">{$albuminfo.title}</span>
<span id="inputAlbumtitle" class="hide"><input type="text" value="{$albuminfo.title}" size="20" placeholder="相册标题"></span>
{else}
{$albuminfo.title}
{/if}
<br>
{if $logininfo.uid == $userinfo.uid && !$albuminfo.isrecycle}
<span id="txtAlbumintro">{$albuminfo.intro|default:'-'}</span>
<span id="inputAlbumintro" class="hide"><textarea rows="5" cols="100" placeholder="相册说明">{$albuminfo.intro}</textarea></span>
{else}
{$albuminfo.intro|default:'-'}
{/if}
<hr>
{if $page.no > 1}
<a href="?uid={$userinfo.uid}&albumid={$albuminfo.albumid}&pageno={$page.no-1}">上一页</a>
{else}
上一页
{/if}
{if $page.no * $page.num < $page.data_total}
<a href="?uid={$userinfo.uid}&albumid={$albuminfo.albumid}&pageno={$page.no+1}">下一页</a>
{else}
下一页
{/if}
{if $logininfo.uid == $userinfo.uid && !$albuminfo.isrecycle}
<button id="btnAddPhoto">添加照片</button>
{/if}
<br>

<div id="photolist" style="width: 800px;">
    {foreach $photolist as $photo}
    <div class="photodiv" data-photoid="{$photo.photoid}" style="float: left;width: 155px;height: 195px;padding-right: 5px;padding-top: 5px;">
        <div style="text-align: right;height: 160px;">
            <a href="item?uid={$photo.uid}&photoid={$photo.photoid}"><img src="{$photo.image}"></a>
        </div>
        <div style="clear: both;"></div>
        <div style="width: 100px;overflow: hidden;float: left;line-height: 22px;height: 22px;white-space: nowrap;">
            {if $logininfo.uid == $userinfo.uid && !$albuminfo.isrecycle}
            <span class="txtPhototitle">{$photo.title}</span>
            <span class="inputPhototitle hide"><input type="text" value="{$photo.title}" size="12" placeholder="照片标题"></span>
            {else}
            {$photo.title}
            {/if}
        </div>
        <div style="float: right;text-align: right;width: 55px;">
            {if $logininfo.uid == $userinfo.uid && !$albuminfo.isrecycle}
            <a href="javascript:;" class="setAlbumCover">C</a>
            {/if}
            {if $logininfo.uid == $userinfo.uid}
            <a href="javascript:;" class="deletePhoto">X</a>
            {/if}
        </div>
        <div style="clear: both;"></div>
    </div>
    {/foreach}
    <div style="clear: both;"></div>
</div>

{literal}
<script language="JavaScript">
    (function(){
        function saveTitle() {
            var oldVal = $('#txtAlbumtitle').text();
            var newVal = $('#inputAlbumtitle input').val();
            if (oldVal != newVal && '' != newVal) {
                var uid = $('#albumdata').data('uid');
                var albumid = $('#albumdata').data('albumid');
                $.post('/rest/photo/album/' + uid + '_' + albumid,
                        {'method':'PUT', 'put_style':'title', 'update': newVal},
                        function(data, status){
                            if (data.errno) {
                                alert(data.error);
                            } else {
                                $('#txtAlbumtitle').text(newVal);
                                $('#txtAlbumtitle').show();
                                $('#inputAlbumtitle').hide();
                            }
                        }, 'json');
            } else {
                $('#txtAlbumtitle').show();
                $('#inputAlbumtitle').hide();
            }
        }
        $('body').delegate('#txtAlbumtitle', 'mouseover', function(){
            $('#txtAlbumtitle').hide();
            $('#inputAlbumtitle').show();
        });
        $('body').delegate('#inputAlbumtitle', 'mouseout', function(){
            saveTitle();
        });
        $('body').delegate('#inputAlbumtitle', 'keydown', function(e){
            if (13 == e.keyCode) {
                saveTitle();
            } else if (27 == e.keyCode) {
                $('#txtAlbumtitle').show();
                $('#inputAlbumtitle').hide();
                $('#inputAlbumtitle input').val($('#txtAlbumtitle').text());
            }
        });

        function saveIntro() {
            var oldVal = $('#txtAlbumintro').text();
            var newVal = $('#inputAlbumintro textarea').val();
            if (oldVal != newVal && '' != newVal && '-' != newVal) {
                var uid = $('#albumdata').data('uid');
                var albumid = $('#albumdata').data('albumid');
                $.post('/rest/photo/album/' + uid + '_' + albumid,
                        {'method':'PUT', 'put_style':'intro', 'update': newVal},
                        function(data, status){
                            if (data.errno) {
                                alert(data.error);
                            } else {
                                $('#txtAlbumintro').text(newVal);
                                $('#txtAlbumintro').show();
                                $('#inputAlbumintro').hide();
                            }
                        }, 'json');
            } else {
                $('#txtAlbumintro').show();
                $('#inputAlbumintro').hide();
            }
        }
        $('body').delegate('#txtAlbumintro', 'mouseover', function(){
            $('#txtAlbumintro').hide();
            $('#inputAlbumintro').show();
        });
        $('body').delegate('#inputAlbumintro', 'mouseout', function(){
            saveIntro();
        });
        $('body').delegate('#inputAlbumintro', 'keydown', function(e){
            if (13 == e.keyCode) {
                saveIntro();
            } else if (27 == e.keyCode) {
                $('#txtAlbumintro').show();
                $('#inputAlbumintro').hide();
                $('#inputAlbumintro textarea').text($('#txtAlbumintro').text());
            }
        });

        function savePhotoTitle(root) {
            var oldVal = root.find('.txtPhototitle').text();
            var newVal = root.find('.inputPhototitle input').val();
            if (oldVal != newVal && '' != newVal) {
                var uid = $('#albumdata').data('uid');
                var photoid = root.data('photoid');
                $.post('/rest/photo/item/' + uid + '_' + photoid,
                        {'method':'PUT', 'put_style':'title', 'update': newVal},
                        function(data, status){
                            if (data.errno) {
                                alert(data.error);
                            } else {
                                root.find('.txtPhototitle').text(newVal);
                                root.find('.txtPhototitle').show();
                                root.find('.inputPhototitle').hide();
                            }
                        }, 'json');
            } else {
                root.find('.txtPhototitle').show();
                root.find('.inputPhototitle').hide();
            }
        }
        $('body').delegate('#photolist .txtPhototitle', 'mouseover', function(){
            var root = $(this).closest('.photodiv');
            root.find('.txtPhototitle').hide();
            root.find('.inputPhototitle').show();
        });
        $('body').delegate('#photolist .inputPhototitle', 'mouseout', function(){
            var root = $(this).closest('.photodiv');
            savePhotoTitle(root);
        });
        $('body').delegate('#photolist .inputPhototitle', 'keydown', function(e){
            var root = $(this).closest('.photodiv');
            if (13 == e.keyCode) {
                savePhotoTitle(root);
            } else if (27 == e.keyCode) {
                root.find('.txtPhototitle').show();
                root.find('.inputPhototitle').hide();
                root.find('.inputPhototitle input').val(root.find('.txtPhototitle').text());
            }
        });

        $('body').delegate('.setAlbumCover', 'click', function(){
            var uid = $('#albumdata').data('uid');
            var albumid = $('#albumdata').data('albumid');
            var root = $(this).closest('.photodiv');
            var photoid = root.data('photoid');
            if (confirm('确认要设置该照片为相册封面吗？')) {
                $.post('/rest/photo/album/' + uid + '_' + albumid,
                        {'method':'PUT', 'put_style':'cover','update':photoid},
                        function(data, status){
                    if (data.errno) {
                        alert(data.error);
                    } else {
                        alert('设置成功');
                    }
                }, 'json');
            }
        });

        $('body').delegate('.deletePhoto', 'click', function(){
            var uid = $('#albumdata').data('uid');
            var root = $(this).closest('.photodiv');
            var photoid = root.data('photoid');
            if (confirm('确认要删除该照片吗？')) {
                $.post('/rest/photo/item/' + uid + '_' + photoid, {'method':'DELETE'}, function(data, status){
                    if (data.errno) {
                        alert(data.error);
                    } else {
                        root.remove();
                        if (0 == $('#photolist .photodiv').length) {
                            window.location.reload();
                        }
                    }
                }, 'json');
            }
        });

        $(document).ready(function() {
            var albumid = $('#albumdata').data('albumid');
            var uploaderConfig = {
                browse_button: 'btnAddPhoto',
                url: '/rest/photo/item/',
                multi_selection: true,
                multipart_params: {
                    'post_style': 'album',
                    'update': albumid,
                    'after_style': 'default',
                    'after_decorate': 'imageView2/2/w/150/h/150'
                },
                filters: {
                    mime_types: [{'title': '图片文件', 'extensions': 'jpg,gif,png'}],
                    max_file_size: '50mb'
                },
                init: {
                    FilesAdded: function (up, files) {
                        plupload.each(files, function(file) {
                            var photohtml = '<div id="' + file.id + '" class="photodiv" data-photoid="0"  style="float: left;width: 155px;height: 195px;padding-right: 5px;padding-top: 5px;">' +
                                    '<div class="photoimage" style="text-align: right;height: 160px;">' +
                                    '</div>' +
                                    '<div style="clear: both;"></div>' +
                                    '<div class="phototitle" style="width: 100px;overflow: hidden;float: left;line-height: 22px;height: 22px;white-space: nowrap;">' +
                                    '等待上传中...</div>' +
                                    '<div style="clear: both;"></div>' +
                                    '</div>';
                            $('#photolist').html(photohtml + $('#photolist').html());
                            if ('image/gif' == file.type) {
                                var img = new mOxie.FileReader();
                                img.onload = function() {
                                    $('#photolist [id=' + file.id + '] .photoimage').html('<img src="' + img.result + '" width="150px" height="150px">');
                                    img.destroy();
                                    img = null;
                                };
                                img.readAsDataURL(file.getSource());
                            } else {
                                var img = new mOxie.Image();
                                img.onload = function() {
                                    var width = img.width;
                                    var height = img.height;
                                    if (width > 150 || height > 150) {
                                        if (height > width) {
                                            width = width * 150 / height;
                                            height = 150;
                                        } else {
                                            height = height * 150 / width;
                                            width = 150;
                                        }
                                        img.downsize(width, height);
                                    }
                                    $('#photolist [id=' + file.id + '] .photoimage').html('<img src="' + img.getAsDataURL() + '" width="' + width + 'px" height="' + height + 'px">');
                                    img.destroy();
                                    img = null;
                                };
                                img.load(file.getSource());
                            }
                        });
                        up.start();
                    },
                    UploadProgress: function (up, file) {
                        $('#photolist [id=' + file.id + '] .phototitle').html(file.percent + '%');
                    },
                    FileUploaded: function (up, file, info) {
                        eval('var data = ' + info.response);
                        if (data.errno) {
                            alert(data.error);
                        } else {
                            $('#photolist [id=' + file.id + '] .photoimage img').attr('src', data.data.after.image);
                            $('#photolist [id=' + file.id + '] .phototitle').text(data.data.after.title);
                        }
                    },
                    UploadComplete: function (up, files) {
                        var uid = $('#albumdata').data('uid');
                        window.location.href = '?uid=' + uid + '&albumid=' + albumid;
                    },
                    Error: function (up, err) {
                        alert("Error #" + err.code + ": " + err.message + "\n");
                    }
                }
            };
            var btnUploader = new plupload.Uploader(uploaderConfig);
            btnUploader.init();
        });
    })();
</script>
{/literal}
