<div id="userdata" class="hide"
     data-uid="{$userinfo.uid}">
</div>

{literal}
<script language="JavaScript">
	function loadpcount(imgdom) {
		var img = $(imgdom);
		var root = img.closest('.albumdiv');
		var pcountdiv = root.find('.albumpcount');
		var deletediv = root.find('.albumdelete');
		pcountdiv.css('left', imgdom.offsetLeft + 3 + 'px');
		pcountdiv.css('top', imgdom.offsetTop + 3 + 'px');
		pcountdiv.show();
		deletediv.css('left', imgdom.offsetWidth + imgdom.offsetLeft - 20 + 'px');
		deletediv.css('top', imgdom.offsetTop + 3 + 'px');
	}
</script>
{/literal}

<div class="main">
    <div class="title left" style="padding-right: 36px;">
        <img src="{$userinfo.logo80}" style="border-radius: 40px;vertical-align: middle;">
    </div>
    <div class="title left" style="padding-right: 5px;">
        {$userinfo.nickname} 的相册
    </div>
    {if $logininfo.uid == $userinfo.uid}
    <div class="title right" style="width:150px;text-align: center;position: relative;">
        <button id="btnShowAddAlbum">创建相册</button>
        <div id="addalbumdiv" class="hide" style="position: absolute;width: 400px;background-color: #333333;z-index: 999;">
            <div style="line-height: 60px;">
                <input type="text" value="" id="addalbumtitle" placeholder="相册标题" style="width:300px; padding: 5px;">
            </div>
            <div style="line-height: 20px;">
                <textarea id="addalbumintro" placeholder="相册说明" style="height: 100px; width:300px; padding: 5px;"></textarea>
            </div>
            <div style="line-height: 60px;">
                <button id="btnOkAddAlbum">确定</button>
                <button id="btnCancelAddAlbum">取消</button>
            </div>
        </div>
    </div>
    <div class="title right" style="width:150px;text-align: center;">
        <button id="btnAddPhoto">上传照片</button>
    </div>
    {/if}
    <div class="clear"></div>

    <div id="albumlist">
        {foreach $albumlist as $album}
        {if $logininfo.uid == $userinfo.uid || !$album.isrecycle}
        <div class="albumdiv left" data-albumid="{$album.albumid}" style="width: 240px;height: 290px;padding: 5px;">
            <div class="albumcoverdiv" style="text-align: center;height: 240px;line-height: 240px;position: relative;">
	            <div class="albumpcount hide" style="position: absolute;top: 0px; left: 0px;line-height: 20px;padding: 3px;">{$album.pcount}</div>
	            {if $logininfo.uid == $userinfo.uid && !$album.isrecycle}
	            <div class="albumdelete hide" style="position: absolute;top: 0px; left: 0px;line-height: 20px;padding: 3px;"><a href="javascript:;" class="delAlbum">X</a></div>
	            {/if}
                <a href="album?uid={$album.uid}&albumid={$album.albumid}"><img src="{$album.cover}" style="vertical-align: middle;" onload="javascript: loadpcount(this);"></a>
            </div>
            <div class="clear"></div>
            <div style="width: 240px;overflow: hidden;line-height: 30px;height: 30px;white-space: nowrap;text-align: center;">
                {if $logininfo.uid == $userinfo.uid && !$album.isrecycle}
                <span class="txtAlbumtitle">{$album.title}</span>
                <span class="inputAlbumtitle hide">
	                <input type="text" value="{$album.title}" size="12" placeholder="相册标题" style="text-align: center;width: 240px;height: 30px;outline: solid 1px;">
                </span>
                {else}
                {$album.title}
                {/if}
            </div>
            <div class="clear"></div>
        </div>
        {/if}
        {/foreach}
        <div class="clear"></div>
    </div>

</div>


{literal}
<script language="JavaScript">
    (function(){
	    $('body').delegate('.albumcoverdiv', 'mouseenter', function(){
			var root = $(this).closest('.albumdiv');
		    root.find('.albumdelete').show();
	    });
	    $('body').delegate('.albumcoverdiv', 'mouseleave', function(){
		    var root = $(this).closest('.albumdiv');
		    root.find('.albumdelete').hide();
	    });

        $(document).ready(function() {
            var btnShowaddAlbum = $('#btnShowAddAlbum').get(0);
            $('#addalbumdiv').css('top', (btnShowaddAlbum.offsetTop + btnShowaddAlbum.offsetHeight + 5) + 'px');
            $('#addalbumdiv').css('left', (btnShowaddAlbum.offsetLeft + btnShowaddAlbum.offsetWidth - 400) + 'px');
        });
        $('body').delegate('#btnShowAddAlbum', 'click', function(){
            $('#addalbumdiv').toggle();
            $('#addalbumtitle').focus();
        });
        $('body').delegate('#btnCancelAddAlbum', 'click', function(){
            $('#addalbumdiv').hide();
        });
        $('body').delegate('#btnOkAddAlbum', 'click', function(){
            var title = $('#addalbumtitle').val();
            var intro = $('#addalbumintro').val();
            $.post('/rest/photo/album/', {'update':{'title':title, 'intro':intro}}, function(data, status){
                if (data.errno) {
                    alert(data.error);
                } else {
                    window.location.reload();
                }
            }, 'json');
        });

        function saveAlbumTitle(root) {
            var oldVal = root.find('.txtAlbumtitle').text();
            var newVal = root.find('.inputAlbumtitle input').val();
            if (oldVal != newVal && '' != newVal) {
                var uid = $('#userdata').data('uid');
                var albumid = root.data('albumid');
                $.post('/rest/photo/album/' + uid + '_' + albumid,
                        {'method':'PUT', 'put_style':'title', 'update': newVal},
                        function(data, status){
                            if (data.errno) {
                                alert(data.error);
                            } else {
                                root.find('.txtAlbumtitle').text(newVal);
                                root.find('.txtAlbumtitle').show();
                                root.find('.inputAlbumtitle').hide();
                            }
                        }, 'json');
            } else {
                root.find('.txtAlbumtitle').show();
                root.find('.inputAlbumtitle').hide();
            }
        }
        $('body').delegate('#albumlist .txtAlbumtitle', 'mouseover', function(){
            var root = $(this).closest('.albumdiv');
            root.find('.txtAlbumtitle').hide();
	        var input = root.find('.inputAlbumtitle');
            input.show();
	        input.find('input').focus();
        });
        $('body').delegate('#albumlist .inputAlbumtitle', 'mouseout', function(){
            var root = $(this).closest('.albumdiv');
            saveAlbumTitle(root);
        });
        $('body').delegate('#albumlist .inputAlbumtitle', 'keydown', function(e){
            var root = $(this).closest('.albumdiv');
            if (13 == e.keyCode) {
                saveAlbumTitle(root);
            } else if (27 == e.keyCode) {
                root.find('.txtAlbumtitle').show();
                root.find('.inputAlbumtitle').hide();
                root.find('.inputAlbumtitle input').val(root.find('.txtAlbumtitle').text());
            }
        });

        $('body').delegate('.delAlbum', 'click', function(){
            var root = $(this).closest('.albumdiv');
            var uid = $('#userdata').data('uid');
            var albumid = root.data('albumid');
            if (confirm('确认要删除该相册吗？')) {
                $.post('/rest/photo/album/' + uid + '_' + albumid, {'method':'DELETE'}, function(data, status){
                    if (data.errno) {
                        alert(data.error);
                    } else {
                        root.remove();
                    }
                }, 'json');
            }
        });

        $(document).ready(function() {
            var albumid = 0;
            var uploaderConfig = {
                browse_button: 'btnAddPhoto',
                url: '/rest/photo/item/',
                multi_selection: true,
                multipart_params: {
                    'after_style': 'default',
                    'after_decorate': 'imageView2/2/w/150/h/150'
                },
                filters: {
                    mime_types: [{'title': '图片文件', 'extensions': 'jpg,gif,png'}],
                    max_file_size: '50mb'
                },
                init: {
                    FilesAdded: function (up, files) {
                        plupload.each(files, function(file) {
                            var photohtml = '<div class="left" id="' + file.id + '" style="width: 240px;height: 290px;padding: 5px;">' +
                                    '<div class="photoimage" style="text-align: center;height: 240px;line-height: 240px;">' +
                                    '</div>' +
                                    '<div class="clear"></div>' +
                                    '<div class="phototitle" style="width: 240px;overflow: hidden;line-height: 30px;height: 30px;white-space: nowrap;text-align: center;">' +
                                    '等待上传中...</div>' +
		                            '<div class="clear"></div>' +
                                    '</div>';
                            $('#albumlist').html(photohtml + $('#albumlist').html());
                            if ('image/gif' == file.type) {
                                var img = new mOxie.FileReader();
                                img.onload = function() {
                                    $('#albumlist [id=' + file.id + '] .photoimage').html('<img src="' + img.result + '" width="240px" height="240px">');
                                    img.destroy();
                                    img = null;
                                };
                                img.readAsDataURL(file.getSource());
                            } else {
                                var img = new mOxie.Image();
                                img.onload = function() {
                                    var width = img.width;
                                    var height = img.height;
                                    if (width > 240 || height > 240) {
                                        if (height > width) {
                                            width = width * 240 / height;
                                            height = 240;
                                        } else {
                                            height = height * 240 / width;
                                            width = 240;
                                        }
                                        img.downsize(width, height);
                                    }
                                    $('#albumlist [id=' + file.id + '] .photoimage').html('<img src="' + img.getAsDataURL() + '" width="' + width + 'px" height="' + height + 'px">');
                                    img.destroy();
                                    img = null;
                                };
                                img.load(file.getSource());
                            }
                        });
                        up.start();
                    },
                    UploadProgress: function (up, file) {
                        $('#albumlist [id=' + file.id + '] .phototitle').html(file.percent + '%');
                    },
                    FileUploaded: function (up, file, info) {
                        eval('var data = ' + info.response);
                        if (data.errno) {
                            alert(data.error);
                        } else {
                            $('#albumlist [id=' + file.id + '] .photoimage img').attr('src', data.data.after.image);
                            $('#albumlist [id=' + file.id + '] .phototitle').text(data.data.after.title);
                            albumid = data.data.after.albumid;
                        }
                    },
                    UploadComplete: function (up, files) {
                        var uid = $('#userdata').data('uid');
                        window.location.href = 'album?uid=' + uid + '&albumid=' + albumid;
                    },
                    Error: function (up, err) {
                        alert("Error #" + err.code + ": " + err.message + "\n");
                    }
                }
            };
            var btnUploader = new plupload.Uploader(uploaderConfig);
            btnUploader.init();
        });
    })();
</script>
{/literal}
