<div id="userdata" class="hide"
     data-uid="{$userinfo.uid}">
</div>

<div class="main">
	<div class="title left" style="padding-right: 36px;">
		<img src="{$userinfo.logo80}" style="border-radius: 40px;vertical-align: middle;">
	</div>
	<div class="title left" style="padding-right: 5px;">
		{$userinfo.nickname} 的博客
	</div>
	{if $logininfo.uid == $userinfo.uid}
	<div class="title right" style="width:150px;text-align: center;">
		<button id="btnAddPhoto">写博客</button>
	</div>
	{/if}
	<div class="clear"></div>

	<div>
		<div class="left" style="width: 200px;">
			{foreach $taginfos as $taginfo}
			<div style="height: 30px;line-height: 30px;">
				<a href="?uid={$userinfo.uid}&tag={$taginfo.tag|escape:'url'}">{$taginfo.tag}({$taginfo.bcount})</a>
			</div>
			{/foreach}
		</div>
		<div class="left" style="width: 800px;">
			{foreach $bloglist as $blog}
			<div>
				{$bloghtml[3][$blog.blogid]}<br>
				{$blog.ctime}
				{$bloghtml[4][$blog.blogid]}
			</div>
			{/foreach}
		</div>
		<div class="clear"></div>
	</div>
</div>

{literal}
<script language="JavaScript">
	(function(){
		$('body').delegate('#btnAddPhoto', 'click', function(){
			window.location.href = 'post';
		});
	})();
</script>
{/literal}
