
body {background:#E9F1F6;font-family:arial,sans-serif;font-size:14px;margin:0 auto;}

header {margin-bottom:4px;padding-bottom:4px;border-bottom:solid 1px #4C8DAE;text-align: center;}
header span {height:32px;line-height:32px;}
header a {height:32px;line-height:32px;}
header img {vertical-align: middle;}

footer {font-size:12px;margin-top:4px;padding-top:4px;border-top:solid 1px #4C8DAE;text-align: center;}

