
{foreach $allusers as $user}
<a href="/photo/user?uid={$user.uid}"><img src="{$user.logo48}" title="{$user.nickname}"></a>
{/foreach}

<hr>

{foreach $msglist as $msg}
{if 1 == $msg.msgtype}
<a href="/photo/user?uid={$msg.content.userinfo.uid}">{$msg.content.userinfo.nickname}<img src="{$msg.content.userinfo.logo16}"></a>
添加了 {$msg.content.albuminfo.pcount} 张照片到相册
<a href="/photo/album?uid={$msg.content.userinfo.uid}&albumid={$msg.content.albuminfo.albumid}">{$msg.content.albuminfo.title}</a>
<br>
{foreach $msg.content.photolist as $photo}
<a href="/photo/item?uid={$msg.content.userinfo.uid}&photoid={$photo.photoid}"><img src="{$photo.image}"></a>
{/foreach}
<br>
{/if}
{/foreach}
