
{foreach $bloglist as $blog}
{if strlen($blog.cover.brief)}
    {if $blog.cover.size.width / $blog.cover.size.height >= 16 / 9}
    <div style="position: relative;background-image: url({$blog.cover.brief});background-repeat: no-repeat;background-size: cover;width: 720px;height: 405px;">
    {else if $blog.cover.size.width / $blog.cover.size.height <= 9 / 16}
    <div style="position: relative;background-image: url({$blog.cover.brief});background-repeat: no-repeat;background-size: cover;width: 720px;height: 1280px;">
    {else}
    <div style="position: relative;background-image: url({$blog.cover.brief});background-repeat: no-repeat;background-size: cover;width: 720px;height: {intval(720 * $blog.cover.size.height / $blog.cover.size.width)}px;">
    {/if}
        <div style="position: absolute;bottom: 0px;width: 100%;height: 80px;background-image: url(http://img.zhangchu.cc/blackalpha.png);">
            <div style="float: left; width: 600px;"><a href="/blog/{$blog.blogid}" style="font-size: 22px; color: #FFFFFF;">{$bloghtml[3][$blog.blogid]}</a></div>
            <div style="float: right;text-align: right;color: #FFFFFF;"><img src="{$blog.uid.logo32}"><br>{$blog.mtime|substr:0:16}</div>
        </div>
        <div>
            {$bloghtml[4][$blog.blogid]}
        </div>
    </div>
{else}
    <div style="width:720px;">
        <a href="/blog/{$blog.blogid}">{$bloghtml[3][$blog.blogid]}</a><br>
        <img src="{$blog.uid.logo32}">最后修改：{$blog.mtime|substr:0:16}<br>
        {$bloghtml[4][$blog.blogid]}
    </div>
{/if}
<hr>
{/foreach}

标题：<input type="text" id="blogtitle" size="40"><br>
<textarea class="htmleditor_basic" id="blogcontent">{$draft}</textarea><br>
<button id="blogpost">发表</button>
