<div id="txt"></div>
<script language="JavaScript">
(function() {
    $(document).ready(function(){
        var es = new EventSource('/test/push');
        es.onmessage = function(e) {
            console.log(e.data);
            console.log(e.target.readyState);
        };
        es.onopen = function(e) {
            console.log('open');
            console.log(e.target.readyState);
        };
        es.onerror = function(e) {
            console.log('error');
            console.log(e.target.readyState);
        };
    });
})();
</script>
