
<footer>
    <div>
        &copy;2015 Zhang Chu <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备14056980</a>
    </div>
</footer>

<script src="http://{$IMG_DOMAIN}/js/jquery-ui-1.11.4/jquery-ui.js"></script>
<script src="http://{$IMG_DOMAIN}/js/tinymce-4.1.9-jquery/tinymce.min.js"></script>
<script src="http://{$IMG_DOMAIN}/js/tinymce-4.1.9-jquery/jquery.tinymce.min.js"></script>
<script src="http://{$IMG_DOMAIN}/js/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="http://{$IMG_DOMAIN}/js/plupload-2.1.2/js/i18n/zh_CN.js"></script>

<script src="http://{$IMG_DOMAIN}/js/base.js"></script>

</body>
</html>
