<!DOCTYPE HTML>
<html>
<head>
    <title>ZLOG.CC</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="http://{$IMG_DOMAIN}/css/reset.css" rel="stylesheet">
    <link href="http://{$IMG_DOMAIN}/js/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
    <link href="http://{$IMG_DOMAIN}/css/base.css" rel="stylesheet">
    <link href="http://{$IMG_DOMAIN}/css/passport.css" rel="stylesheet">
    <script src="http://{$IMG_DOMAIN}/js/jquery-1.11.2.min.js"></script>
</head>
<body>
<div id="globaldata" class="hide"
     data-wwwdomain="{$WWW_DOMAIN}"
     data-passportdomain="{$PASSPORT_DOMAIN}"
     data-imgdomain="{$IMG_DOMAIN}"
     data-uid="{$logininfo.uid}">
</div>
<header>
    <div style="float: left;width:150px;font-size: 24px;;">
        <a href="http://{$WWW_DOMAIN}/">ZLOG.CC</a>
    </div>
    <div class="clear"></div>
</header>
