<!DOCTYPE HTML>
<html>
<head>
<title>KO框架</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta property="qc:admins" content="60732703761501171166367" />
	<meta property="wb:webmaster" content="afdf05aeb0be9f69" />
	<link href="http://{$IMG_DOMAIN}/js/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
</head>
<body>
<center>
	<header>
	<form action="/user/logout" method="POST" id="logoutform">
	</form>
	{if $baseinfo.uid}
	{$baseinfo.nickname} <img src="{$baseinfo.logo32}" title="{$baseinfo.uid}"> <a href="javascript:;" id="logoutlink">退出</a>
	{else}
	<a href="/oauth2/qq"><img src="http://{$IMG_DOMAIN}/oauth2/qq.png"></a>
	<a href="/oauth2/weibo"><img src="http://{$IMG_DOMAIN}/oauth2/weibo.png"></a>
	<a href="/oauth2/baidu"><img src="http://{$IMG_DOMAIN}/oauth2/baidu.png"></a>
	{/if}
	</header>
