<!DOCTYPE HTML>
<html>
<head>
    <title>ZLOG.CC</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="http://{$IMG_DOMAIN}/js/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
    <link href="http://{$IMG_DOMAIN}/css/base.css" rel="stylesheet">
    <script src="http://{$IMG_DOMAIN}/js/jquery-1.11.2.min.js"></script>
</head>
<body>
<div id="globaldata" style="display:none;"
     data-wwwdomain="{$WWW_DOMAIN}"
     data-passportdomain="{$PASSPORT_DOMAIN}"
     data-uid="{$baseinfo.uid}">
</div>
<header>
    {if $baseinfo.uid}
    <span>{$baseinfo.nickname}</span> <img src="{$baseinfo.logo32}" title="{$baseinfo.uid}"> <a href="javascript:;" id="logoutlink">退出</a>
    {else}
    <a href="http://{$PASSPORT_DOMAIN}/user/login">登录</a>
    <a href="http://{$PASSPORT_DOMAIN}/user/reg">注册</a>
    {/if}
</header>
