<div id="regloginform">
    <form action="/user/login" method="POST">
        <div class="item">
            填写登录信息
        </div>
        <div class="item">
            <input placeholder="输入登录名称" name="username" type="text" value="">
        </div>
        <div class="item">
            <input placeholder="输入密码" name="passwd" type="password" value="">
        </div>
        <div class="item">
            <button>确认登录</button> <a href="reg">注册新用户</a>
        </div>
    </form>
</div>
