<div class="main">
	<div id="regloginform">
		<div class="item">
			填写登录信息
		</div>
		<div class="item">
			<input placeholder="输入登录名称" class="username" type="text" value="">
		</div>
		<div class="item">
			<input placeholder="输入密码" class="passwd" type="password" value="">
		</div>
		<div class="item">
			<button id="btnOk">确认登录</button> <a href="reg">还没有账户，注册新用户</a>
		</div>
		<div class="item hide">
			<a href="http://{$PASSPORT_DOMAIN}/oauth2/qq"><img src="http://{$IMG_DOMAIN}/oauth2/qq.png"></a>
			<a href="http://{$PASSPORT_DOMAIN}/oauth2/weibo"><img src="http://{$IMG_DOMAIN}/oauth2/weibo.png"></a>
			<a href="http://{$PASSPORT_DOMAIN}/oauth2/baidu"><img src="http://{$IMG_DOMAIN}/oauth2/baidu.png"></a>
		</div>
	</div>
</div>

{literal}
<script language="JavaScript">
    (function(){
        $(document).ready(function() {
            $('#regloginform .username').focus();
        });
        $('body').delegate('#btnOk', 'click', function(){
            var username = $('#regloginform .username').val();
            var passwd = $('#regloginform .passwd').val();
            $.post('/rest/user/login/', {'update':{'username':username, 'passwd':passwd}}, function(data, status){
                if (data.errno) {
                    alert(data.error);
                } else {
                    window.location.href = 'http://' + $('#globaldata').data('wwwdomain');
                }
            }, 'json');
        });
    })();
</script>
{/literal}
